body {
  padding-bottom: 50px;
}

.splash {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/images/splash.png');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.splash h1 {
  color: white;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 100px;
}

.loginFormParent, .signupFormParent {
  width: 400px;
  height: 400px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.loginFormChild, .signupFormChild {
  /*background-color: blue;*/
  width: 50%;
  margin: 0 auto;
}

.loginInput, .signupInput {
  display: block;
  margin-bottom: 5px;
  padding-left: 2px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid white; 
  color: white;
  margin: 10px auto;
/*  border-radius: 5px;*/
}

.splash ::-webkit-input-placeholder {
  color: white;
}
.splah ::-moz-placeholder {
  color: white;
}
.splash :-ms-input-placeholder {
  color: white;
}
.splash :-moz-placeholder { 
  color: white;
}

.loginButton, .signupButton {
  width: 100%;
  border: none;
  margin: 0 auto;
}

.splash input:-webkit-autofill,
.splash input:-webkit-autofill:hover,
.splash input:-webkit-autofill:focus,
.splash input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.redirectButton {
  float: right;
  border: none;
  margin: 5px;
  padding: 5px;
}

.redirectButton a {
  color: black;
}

.signup label {
  float: left;
}

.signupSelect {
  text-align: left;
  margin-bottom: 5px;
}

.signupSelect select {
  background-color: white;
}

.paymentForm {
  width: 100%;
  margin: 0 auto;
}

.methodTitle {
  text-align: center
}

.paymentSetupForm {
  width: 40%;
  margin: 0 auto;
}

.paymentInput {
  width: 100%;
  margin-bottom: 5px;
}

.paymentOption {
  margin: 4px !important;
}

.paymentSetupSubmit {
  text-align: center;
}

.termsOfService, .credits {
  width: 40%;
  margin: 50px auto;
}

.transactionsTable {
  margin: 0 10px;
}

.dropdown {
  display: inline-block;
}

.dropDownMenu {
  text-align: left;
  color: black;
}

.editForm {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

.tenantMakePayment {
  width: 30%;
  margin: 0 auto;
  bottom: 0px;
  margin-top: 30px;
  text-align: center;
}

#profileEditButton {
  margin-left: 60%;
}

.navbar {
  border-radius: 0px;
}

.braintree-toggle {
  visibility: hidden;
  height: 0px;
}

#tenantWindow {
  width: 70%;
  height: 450px;
  margin: 10px;
  display: inline-block;
  border: 1px solid black;
  vertical-align: top;
  overflow: scroll;
}

.sidebarTitle {
  text-align: center;
}

.convoPersName {
  margin-left: 25%;
}

#tenantSidebar {
  width: 20%;
  height: 450px;
  margin: 10px;
  display: inline-block;
  border: 1px solid black;
  vertical-align: top;
}

/*#tenantDashFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
}*/

.messageIcons {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#centerTenantDash {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#truncate {
  font-size: 18px;
  border-bottom: 1px solid lightgray;
  max-width: 100%;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mesRight {
  width: 70%;
  float: right;
  word-wrap: break-word;
}

.mesLeft {
  width: 70%;
  margin-right: 30px;
  float: left;
  word-wrap: break-word;
}

.messageLeft {
  margin-left: 20px;
  font-size: 18px;
  text-align: left;
}

.messageRight {
  margin-right: 20px;
  font-size: 18px;
  text-align: right;
}

.dateStyle{
  font-size: 12px;
  margin-top: 10px;
}

.newMessage {
  width: 70%;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
}

.centerMessage {
  width: 80%;
  height: 50px;
  font-size: 18px;
}

.messageInput {
  width: 100%;
  margin-right: 10px;
  height: 100%;
}

.paymentSetupWarning {
  margin: auto;
  padding: 20px;
  text-align: center;
}
.statesSelect {
  margin-bottom: 5px; 
}
.paymentOption {
  display: inline-block;
  text-align: center;
}

.paymentOption img {
  width: 70px;
  height: 70px;
  background-color: rgba(236, 240, 241,1.0);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer
}

.paymentOption label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.paymentOption label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid black;
}
.paymentOption label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

.actionSuccessUpper, .actionSuccessLower {
  text-align: center;
  background-color: rgba(0, 177, 106,1.0);
  padding: 30px;
  border: none;
}

.actionSuccessLower {
  background-color: white;
}

.addPropertyForm, .addTenantForm {
  /*background-color: blue;*/
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.addPropertyInput, .addTenantInput {
  width: 80%;
}

.BootstrapTableFull {
  width: 98%;
  margin: 0 auto;
}

.pageTitle {
  text-align: center;
}

.ReactPasswordStrength {
  border: 1px solid #c6c6c6;
  /*box-sizing: border-box;*/
  border-radius: 5px;
  color: #090809;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  position: relative;
}

.ReactPasswordStrength-input {
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  padding: 14px 0 12px 14px;
  width: calc(85% - 28px);
  height: 30px;
}

.ReactPasswordStrength-input:not(:focus).is-password-invalid { color: #D1462F; }
.ReactPasswordStrength-input:focus { outline: none; }

.ReactPasswordStrength-strength-desc {
  color: transparent;
  font-style: italic;
  font-size: 14px;
  padding: 5px 5px;
  position: absolute; top: 1px; right: 0;
  text-align: right;
  margin-right: 10px;
  transition: color 250ms ease-in-out;
  width: 15%;
}

.ReactPasswordStrength.is-strength-0 .ReactPasswordStrength-strength-desc { color: #D1462F; }
.ReactPasswordStrength.is-strength-1 .ReactPasswordStrength-strength-desc { color: #D1462F; }
.ReactPasswordStrength.is-strength-2 .ReactPasswordStrength-strength-desc { color: #57B8FF; }
.ReactPasswordStrength.is-strength-3 .ReactPasswordStrength-strength-desc { color: #57B8FF; }
.ReactPasswordStrength.is-strength-4 .ReactPasswordStrength-strength-desc { color: #2FBF71; }

.ReactPasswordStrength-strength-bar {
  box-sizing: border-box;
  height: 2px;
  position: relative; top: 1px; right: 1px;
  transition: width 300ms ease-out;
  width: 0;
}

.ReactPasswordStrength.is-strength-0 .ReactPasswordStrength-strength-bar {
  background: #D1462F;
  width: 20%;
}

.ReactPasswordStrength.is-strength-1 .ReactPasswordStrength-strength-bar {
  background: #D1462F;
  width: 40%;
}

.ReactPasswordStrength.is-strength-2 .ReactPasswordStrength-strength-bar {
  background: #57B8FF;
  width: 60%;
}

.ReactPasswordStrength.is-strength-3 .ReactPasswordStrength-strength-bar {
  background: #57B8FF;
  width: 80%;
}

.ReactPasswordStrength.is-strength-4 .ReactPasswordStrength-strength-bar {
  background: #2FBF71;
  width: calc(100% + 2px);
}

.addBillAccordion{
  width: 25%;
}
