.splash {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/images/splash.png');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-position: 50% 50%;
  -o-background-size: cover;
}

.splash h1 {
  color: white;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 100px;
}

.loginFormChild, .signupFormChild {
  /*background-color: blue;*/
  width: 50%;
  margin: 0 auto;
}

.loginInput, .signupInput {
  display: block;
  margin-bottom: 5px;
  padding-left: 2px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid white; 
  color: white;
  margin: 10px auto;
/*  border-radius: 5px;*/
}

/*.bothHeaderNavBars {
  font-family: "Roboto Condensed";
}*/

.splash ::-webkit-input-placeholder {
  color: white;
}
.splah ::-moz-placeholder {
  color: white;
}
.splash :-ms-input-placeholder {
  color: white;
}
.splash :-moz-placeholder { 
  color: white;
}

.loginButton, .signupButton {
  width: 100%;
  border: none;
  margin: 0 auto;
}

.splash input:-webkit-autofill,
.splash input:-webkit-autofill:hover,
.splash input:-webkit-autofill:focus,
.splash input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.redirectButton {
  float: right;
  border: none;
  margin: 5px;
  padding: 5px;
}

.redirectButton a {
  color: black;
}

.signup label {
  float: left;
}

.signupSelect {
  text-align: left;
  margin-bottom: 5px;
}

.signupSelect select {
  background-color: white;
}

.paymentForm {
  width: 100%;
  margin: 0 auto;
}

.methodTitle {
  text-align: center
}

.paymentSetupForm, .setupErrors {
  width: 40%;
  margin: 0 auto;
}

.setupErrors {
  color: red;
}

.paymentInput {
  width: 100%;
  margin-bottom: 5px;
}

.paymentOption {
  margin: 4px !important;
}

.paymentSetupSubmit {
  text-align: center;
}

.termsOfService, .credits {
  width: 40%;
  margin: 50px auto;
}

.transactionsTable {
  margin: 0 10px;
}

.dropdown {
  display: inline-block;
}

.dropDownMenu {
  text-align: left;
  color: black;
}

.editForm {
  text-align: center;
}

.editFormInner {
  width: 50%;
  margin: 0 auto;
}

.editFormLables {
  font-size: 22px;
  font-family: "Roboto Condensed" !important;
}

#profileEditButton {
  max-width: 40%;
}

.profileEditButton {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.tenantMakePayment {
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 20px;
  bottom: 0;
}

.tenantMakePayment > .btn, .btn-secondary {
  background-color: rgba(52, 152, 219,1.0);
  border: none;
}

.braintree-toggle {
  visibility: hidden;
  height: 0px;
}

.navbarColor {
  background-color: rgba(59,60,61,1);
  font-family: "Roboto Condensed" !important;
  font-size: 18px;
}

.navbar .navbar-expand-lg .navbar-dark {
  box-shadow: none;
}

#navbarText {
  color: white !important;
  font-family: 'Roboto Condensed', sans-serif;

}

#navbarDropdownMenuLink {
  color: white !important;
  font-family: 'Roboto Condensed', sans-serif;

}

#nav-dropdown {
  color: black !important;
}

.nav-link {
  margin: 0 25px;
}

.dropdown-item {
  font-family: 'Roboto Condensed', sans-serif;

}

.dropdown .dropdown-menu .dropdown-item:hover {
  font-family: 'Roboto Condensed', sans-serif;

  color: black !important;

}

.navbar-brand {
  font-family: 'Lobster', cursive !important;
  font-size: 40px !important;
  margin: 0px !important;
  padding: 0px !important;
}

#tenantWindow {
  /*width: 70%;*/
  height: 100vh;
  /*margin: 10px;*/
  /*display: inline-block;*/
  /*vertical-align: top;*/
  overflow: scroll !important;
  /*padding: 0px 10px;*/
}

.sidebarTitle {
  text-align: center;
  color: white;
}

.messageMargins {
  margin: 0% !important;
  padding: 5px !important;
  width: 100% !important;
}

#messagesWindow {
  height: 75vh;
  /*border: 2px solid lightgray;*/
  overflow: scroll;
}

.centerMessage {
  width: 80%;
  height: 50px;
  font-size: 18px;
  border-bottom: 0px !important;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

  #messagesWindow {
    height: 55vh;
    width: 100%;
    padding: 5px;
    margin: 5px;
    overflow: scroll;
  }

  .centerMessage {
    width: 70%;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    border-bottom: 0px;
  }

  .landlordMap {
    width: 50vh;
    height: 55vh;
  }

  .loginFormParent, .signupFormParent {
    width: 300px;
    height: 300px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    text-align: center;
  }

  .splash h1 {
    color: white;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 60px;
  }

  .addBillAccordion {
    width: 50%;
  }

  .addBillHeader {
    width: 100%
  }


  .addPropertyForm, .addTenantForm {
    width: 75%;
    margin: 5px;
  }

  .addPropertyHeader, .addTenantHeader {
    width: 50%;
  }

  #tenantSidebar {
    background-color: rgba(108, 122, 137, 1);
  }

  .mobileFont {
    color: white;
  }
}

.mobileFont {
  color: white;
  background-color: black;
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  #messagesWindow {
    height: 55vh;
    width: 100%;
    padding: 5px;
    margin: 5px;
    bottom: 0;
    overflow: scroll;
  }

  #navProfileDropdown {
    margin-right: 30px;
  }

  .centerMessage {
    width: 80%;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    border-bottom: 0px;
  }
  .landlordMap {
    width: 60vh;
    height: 65vh;
  }

  .loginFormParent, .signupFormParent {
    width: 375px;
    height: 375px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    text-align: center;
  }

  .splash h1 {
    color: white;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 80px;
  }

  .addBillAccordion {
    width: 50%;
  }

  .addBillHeader {
    width: 100%
  }

  .addPropertyForm, .addTenantForm {
    width: 75%;
  }

  .addPropertyHeader, .addTenantHeader {
    width: 50%;
  }

  #tenantSidebar {
    background-color: rgba(108, 122, 137, 1);
  }

  .mobileFont {
    color: white;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  html {
    overflow: hidden;
  }

  #messagesWindow {
    height: 65vh;
    width: 100%;
    padding: 5px;
    margin: 5px;
    bottom: 0;
    overflow: scroll;
  }

  .centerMessage {
    margin: 5px;
    height: 50px;
    font-size: 18px;
    padding: 5px;
    border-bottom: 0px;
  }

  .landlordMap {
    width: 70vh;
    height: 75vh;
  }

  .loginFormParent, .signupFormParent {
    width: 400px;
    height: 400px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    text-align: center;
  }

  .splash h1 {
    color: white;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 100px;
  }

  #tenantSidebar {
    height: 100vh !important;
  }

  .addBillAccordion {
    width: 25%;
  }

  .addPropertyForm, .addTenantForm {
    text-align: center;
    margin: 0px auto;
    width: 50%
  }

  .addPropertyHeader, .addTenantHeader {
    width: 25%;
    text-align: center;
  }

  .addBillHeader {
    width: 100%
  }
}

#tenantSidebar {
  /*height: 100vh !important;*/
  background-color: rgba(108, 122, 137, 1);
  max-width: 300px !important;
}

.dashSidebar {
  height: 50%;
  overflow: scroll;
}

.mobileSidebarDash {
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-size: 22px;
  color: black;
}

.accordion-toggle {
  cursor: pointer;
  font-size: 22px;
}

#addPropertiesPanel, #addTenantsPanel {
  background-color: white !important;
  margin-bottom: 5px;
}

/*#tenantDashFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
}*/

.messageIcons {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#centerTenantDash {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#truncate {
  font-size: 18px;
  border-bottom: 1px solid lightgray;
  max-width: 100%;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pickAConvo {
  font-family: "Roboto Condensed", sans-serif !important;
  text-align: center;
}

.convoPersName {
  font-family: "Roboto Condensed", sans-serif !important;
  text-align: left;
  padding: 10px;
}

.mesRight {
  width: 50%;
  margin-right: 15px;
  float: right;
  word-wrap: break-word;
  border-radius: 5px;
  padding-right: 20px;
  background-color: #DFE3E9;
}

.mesLeft {
  width: 50%;
  margin-left: 15px;
  float: left;
  word-wrap: break-word;
  border-radius: 5px;
  padding-left: 20px;
  background-color: #F9F9F9;
}

#messageLeft {
  font-size: 18px;
  text-align: left;
}

#messageRight {
  margin-right: 30px;
  font-size: 18px;
  text-align: right;
}

.dateStyle{
  font-size: 12px;
  margin-top: 10px;
  background-color: white !important;
}

.newMessage {
  width: 95%;
  overflow: scroll;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.messageInput {
  width: 100%;
  margin-right: 10px;
  height: 100%;
}

.messageContacts {
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif !important;
  text-align: center;
  border-bottom: 1px double lightgray;
}

.accordion-inner {
  background-color: #F9F9F9;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.tenantContactFont {
  padding-left: 10px;
  padding-right: 10px;
}

.addCursorPointer {
  cursor: pointer;
}

.paymentSetupWarning {
  margin: auto;
  padding: 20px;
  text-align: center;
}
.statesSelect {
  margin-bottom: 5px; 
}
.paymentOption {
  display: inline-block;
  text-align: center;
}

.paymentOption img {
  width: 70px;
  height: 70px;
  background-color: rgba(236, 240, 241,1.0);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer
}

.paymentOption label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.paymentOption label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid black;
}
.paymentOption label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

.actionSuccessUpper, .actionSuccessLower {
  text-align: center;
  background-color: rgba(0, 177, 106,1.0);
  padding: 30px;
  border: none;
}

.actionSuccessLower {
  background-color: white;
}

/*.addPropertyForm, .addTenantForm {
  background-color: blue;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}*/

.addPropertyInput, .addTenantInput {
  width: 80%;
}

.BootstrapTableFull {
  width: 98%;
  margin: 0 auto;
}

.pageTitle {
  text-align: center;
}

.tenantDashTitle {
  text-align: left;
}

.LandlordMap {
  margin: 0 auto;
  width: 90%;
  height: 90%;
}

.BootstrapTableFull {
  width: 98%;
  margin: 0 auto;
}

.Dropzone {
  width: 98%;
  margin: 0 auto;
  border-style: dashed;
  border-width: 1px;
  text-align: center;
}

.Dropzone p {
  padding-top: 7px;
  color: blue;
}

.Dropzone button {
  margin-bottom: 20px;
}

.ReactPasswordStrength {
  /*box-sizing: border-box;*/
  /*border-radius: 5px;*/
  color: #090809;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  position: relative;
}

.ReactPasswordStrength-input {
  border: none;
  font-size: 14px;
  padding: 14px 0 12px 14px;
  width: calc(85% - 28px);
  height: 30px;
}

.ReactPasswordStrength-input.is-password-invalid { color: #D1462F; }
.ReactPasswordStrength-input {}

.ReactPasswordStrength-strength-desc {
  color: transparent;
  font-style: italic;
  font-size: 14px;
  padding: 5px 5px;
  position: absolute; top: 1px; right: 0;
  text-align: right;
  margin-right: 10px;
  transition: color 250ms ease-in-out;
  width: 15%;
}

.ReactPasswordStrength.is-strength-0 .ReactPasswordStrength-strength-desc { color: #D1462F; }
.ReactPasswordStrength.is-strength-1 .ReactPasswordStrength-strength-desc { color: #D1462F; }
.ReactPasswordStrength.is-strength-2 .ReactPasswordStrength-strength-desc { color: #57B8FF; }
.ReactPasswordStrength.is-strength-3 .ReactPasswordStrength-strength-desc { color: #57B8FF; }
.ReactPasswordStrength.is-strength-4 .ReactPasswordStrength-strength-desc { color: #2FBF71; }

.ReactPasswordStrength-strength-bar {
  height: 2px;
  position: relative; top: 1px;
  transition: width 300ms ease-out;
  margin: 3px;
  width: 0;
}

.ReactPasswordStrength.is-strength-0 .ReactPasswordStrength-strength-bar {
  background: #D1462F;
  width: 10%;
}

.ReactPasswordStrength.is-strength-1 .ReactPasswordStrength-strength-bar {
  background: #D1462F;
  width: 33%;
}

.ReactPasswordStrength.is-strength-2 .ReactPasswordStrength-strength-bar {
  background: #57B8FF;
  width: 60%;
}

.ReactPasswordStrength.is-strength-3 .ReactPasswordStrength-strength-bar {
  background: #57B8FF;
  width: 80%;
}

.ReactPasswordStrength.is-strength-4 .ReactPasswordStrength-strength-bar {
  background: #2FBF71;
  width: calc(100%);
}

.sidebarContainer {
  height: 600px;
}

.selectedMedia, .donutGraph {
  height: 70%
}

.donutWindow {
  width: 100%;
}

.donutGraph, .broadcastTitle {
  text-align: center;
}
.donut {
  display: inline-block;
  margin: 0 auto;
}

.donutLegend {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}
.fillColorBox {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0px 5px;
}

.loginFailure {
  width: 50%;
  margin: 0 auto;
  padding: 0px;
}

.tooltip-inner{
  background-color: rgba(192, 57, 43,1) !important;
  opacity: 1 !important;
  width: 100%;
}
.tooltip.in {
  opacity: 1 !important;
}

.tooltip-arrow {
  border-bottom-color: rgba(192, 57, 43,1) !important;
}


.addBillHeader, .addPropertyHeader, .addTenantHeader {
  font-weight: lighter;
  color: white;
  display: inline-block;
  /*width: 50%;*/
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  background-color: rgba(52, 152, 219,1.0)
}

.addPropertyHeader, .addTenantHeader {
  /*width: 25%;*/
  background-color: rgba(44, 62, 80,1);
  margin-bottom: 5px;
}

.addBillAccordion {
  display: inline-block;
  margin: 10px; 
  /*float: right;*/
}

.accordion-inner {
  margin-top: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}

#pageDropDown {
  color: black !important;
}

.page-item {
  box-shadow: none;
}

.page-link {
  background-color: rgba(52, 152, 219,1.0) !important;
}

.paymentSetupAccordionHeader {
  border-bottom: 1px solid black;
}